* {
  padding: 0;
  margin: 0;
}

.btn {
  border: none;
  background: none;
}

.blue-text, .hero .hero-left .blue-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #299EF3;
}

.bold-blue-text, .hero .hero-left .hero-text {
  font-style: normal;
  font-weight: 700;
  font-size: 55px;
  line-height: 75px;
  color: #272D4E;
}

.gray-text, .white-bg .page .gray-text {
  font-weight: 400;
  font-size: 26.7px;
  line-height: 40px;
  text-align: center;
  color: #94A2B3;
}

.btn-purple, .hero .hero-left .hero-btn-wrapper .btn-purple, header .nav-btn-wrapper .btn-purple {
  background-color: #7854F7;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding: 13px;
}

header {
  padding: 30px 20px;
  display: flex;
  align-items: center;
}
header .nav-items-wrapper {
  list-style: none;
}
header .nav-items-wrapper .nav-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #272D4E;
}
.hero {
  margin-top: 80px;
}
.hero .hero-left .hero-btn-wrapper .btn-purple {
  padding: 25px 60px;
  border-radius: 30px;
}

.card1 {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card1 .text {
  font-weight: 700;
  font-size: 36px;
  line-height: 70px;
  color: #272D4E;
}

.purple-bg {
  background: url(./img/purple-bg.svg);
}
.purple-bg .wrapper {
  margin-left: 300px;
  align-items: center;
}
.purple-bg .wrapper .text-light {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}
.purple-bg .wrapper .text-light {
  font-weight: 700;
  font-size: 36px;
  line-height: 46px;
  color: #FFFFFF;
}
.purple-bg .wrapper .text-light-small {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}
.purple-bg .wrapper .green-btn {
  background: #70C217;
  border-radius: 60px;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 22px;
}

.white-bg {
  height: 100vh;
  background: #ECF0FD;
}
.white-bg .page {
  position: relative;
}
.white-bg .page .gray-text {
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 600px;
  padding: 90px 20px;
  position: absolute;
  top: 70px;
  left: 470px;
  box-shadow: 0px 18px 52.8537px rgba(215, 228, 249, 0.5);
  background-image: url(./img/white-bg.svg);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 25%;
}
.white-bg .page .img1 {
  position: absolute;
  left: 291px;
}
.white-bg .page .img2 {
  position: absolute;
  left: 102px;
  top: 200px;
}
.white-bg .page .img3 {
  position: absolute;
  left: 206px;
  top: 330px;
}
.white-bg .page .img4 {
  position: absolute;
  right: 256px;
  top: -9px;
}
.white-bg .page .img5 {
  position: absolute;
  right: 36px;
  top: 200px;
}
.white-bg .page .img6 {
  position: absolute;
  right: 256px;
  top: 400px;
}

.purple-bg2 {
  padding: 80px 0;
  background: #5F37EF;
  color: #FFFFFF;
}
.purple-bg2 .white-outline-btn {
  border: 2px solid #FFFFFF;
  border-radius: 60px;
  background: none;
  color: #FFFFFF;
  padding: 20px 40px;
}

footer {
  background: #7854F7;
}
footer .wrapper {
  border-bottom: 1px solid #fff;
  padding-bottom: 100px;
}
footer .wrapper .icon-text-wrapper {
  padding: 45px;
}
footer .footer-item-wrapper .bold-white {
  font-weight: 700;
  font-size: 14px;
  line-height: 52px;
  text-transform: uppercase;
  color: #FFFFFF;
}
footer .footer-item-wrapper .thin-white-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  color: #FFFFFF;
}/*# sourceMappingURL=style.css.map */